.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    border-bottom: 1px solid #000;
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, .3);
}

.navigation-list {
    display: flex;
    list-style: none;
    grid-gap: 20px;
    padding: 0;
}

.navigation-element-link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}