.shopping-list-container-with-message {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping-list-container-message {
    text-transform: uppercase;
}

.shopping-list {
    padding: 0;
    list-style: none;
}

.shopping-list-headers {
    display: flex;
    grid-gap: 30px;
    list-style: none;
    padding: 0;
    font-weight: 600;
    text-transform: uppercase;
}